# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these people will be requests a review
# review when someone opens a pull request.
umip                             @SneaksAndData/or-scientists
examples                                @SneaksAndData/or-scientists
tests                                   @SneaksAndData/or-scientists
.github                                 @SneaksAndData/platform-engineering @SneaksAndData/or-scientists
.github/workflows/release.yaml          @SneaksAndData/platform-engineering @SneaksAndData/or-scientists
